<table class="table">
    <tbody>

    <tr>
        <td>
            <h4>Experiential feedback in HCI</h4>

            <p>We are developing an HCI framework for calibrating AI-based systems using experiential feedback. The project work would involve conducting several small user studies and administering simple questionnaires. The project is based on some of the ideas outlined in <a href="https://dl.acm.org/citation.cfm?id=3025205">this article</a>.</p>
            
            <p>This does not involve any programming, but does involve data collection and some analysis. The ideal candidate should be outgoing, enjoy interacting with people and have a sense of humour.</p>

        </td>
    </tr>

    <tr>
        <td>
            <h4>LaTeX pre-processing pipeline for arXiv</h4>

            <p>We develop <a href="https://dl.acm.org/citation.cfm?id=2911455">scientific literature search engines</a> using AI and machine learning. Previously, these systems only used article abstracts, but we want to start using full text papers. The arXiv repository now requires authors submit latex source files with every article. We are looking for a data science intern to help develop a robust pre-processing pipeline for latex and associated metadata. If there is time, the intern could also help with data analysis and visualisation.</p>
        
            <p>This project will require Python programming and experience processing large quantities of data.</p>
        </td>
    </tr>

	<tr>
        <td>
            <h4>Machine learning DJ</h4>
            <p>We are looking for a data science intern interested in music analysis. The project is to investigate the feasibility of using accelerometers (and possibly other sensors) to automatically gauge the level of engagement/enjoyment of music. The ultimate goal is to develop an interface to a music retrieval system.</p>
            
            <p>The ideal candidate should be comfortable with data analysis, programming in Python and be a fan of multiple genres of music.</p>
		</td>
    </tr>

</tbody>
</table>
