<table class="table">
    <tbody>

    <tr>
        <td>
            <a href="lectures/ir/IR-intro.pdf">Lecture 1: Introduction and Historical Background (pdf)</a><br/>
            <a href="lectures/ir/DATA20021-Lecture2-web.pdf">Lecture 2: IR Jargon + Boolean Retrieval (pdf)</a><br/>
            <a href="lectures/ir/DATA20021-Lecture3-web.pdf">Lecture 3: Index Compression (pdf)</a><br/>
            <a href="lectures/ir/DATA20021-Lecture4-web.pdf">Lecture 4: Index Construction (pdf)</a><br/>
            <a href="lectures/ir/DATA20021-Lecture5-web.pdf">Lecture 5: Web Crawling (pdf)</a><br/>
            <a href="lectures/ir/DATA20021-Lecture6-web.pdf">Lecture 6: Ranked Retrieval (pdf)</a><br/>
            <a href="lectures/ir/evaluation-IRs.pdf">Lecture 7: Evaluation (pdf)</a><br/>
            <a href="lectures/ir/relevance-feedback.pdf">Lecture 8: Relevance Feedback (pdf)</a><br/>
            <a href="lectures/ir/interactive-IR.pdf">Lecture 9: Interactive Information Retrieval (pdf)</a><br/>
            <a href="lectures/ir/IIR-assignment.pdf">Assignment: Interactive Information Retrieval (pdf)</a><br/>
            <a href="lectures/ir/interactive-IR2.pdf">Lecture 10: Interactive Information Retrieval Evaluation (pdf)</a><br/>
            <a href="https://helsinkifi-my.sharepoint.com/:b:/g/personal/glowacka_ad_helsinki_fi/EWBehuiJ5PREkiSw5ED-EuIBzO5gEEZj0xj_CGwe-OgXEw?e=utveH8">Lecture 11: Multimedia Retrieval</a><br/>
        </td>
    </tr>

</tbody>
</table>
