<table class="table">
    <tbody>

    <tr>
        <td>
            <span class="date"><big><strong>2022</strong></big><br /></span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                <a href="https://www.researchgate.net/profile/Denis-Kotkov/publication/357255047_Rating_consistency_is_consistently_underrated_An_exploratory_analysis_of_movie-tag_rating_inconsistency/links/61c376a8c99c4b37eb171791/Rating-consistency-is-consistently-underrated-An-exploratory-analysis-of-movie-tag-rating-inconsistency.pdf">Rating Consistency is Consistently Underrated: An Exploratory Analysis of Movie-Tag Rating Inconsistency</a>.
            </span><br />
            <span class="authors">
                Denis Kotkov, Alan Medlar, Umesh Satyal, Alexandr Maslov, Mats Neovius, Dorota Glowacka.
            </span><br /><span class="venuetype"></span><span class="venue">SAC 2022</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>

    <tr>
        <td></td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                <a href="https://www.researchgate.net/profile/Denis-Kotkov/publication/357254796_The_Tag_Genome_Dataset_for_Books/links/61c37289abcb1b520ad8f27a/The-Tag-Genome-Dataset-for-Books.pdf">The Tag Genome Dataset for Books</a>
            </span><br />
            <span class="authors">
                Denis Kotkov, Alan Medlar, Alexandr Maslov, Umesh Satyal, Mats Neovius, Dorota Glowacka.
            </span><br /><span class="venuetype"></span><span class="venue">CHIIR 2022</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>


    <tr>
        <td>
            <span class="date"><big><strong>2021</strong></big><br /></span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                <a href="https://dl.acm.org/doi/abs/10.1145/3459637.3482103">Exploratory Search of GANs with Contextual Bandits</a>.
            </span><br />
            <span class="authors">
                Ivan Kropotov, Alan Medlar, Dorota Glowacka.
            </span><br /><span class="venuetype"></span><span class="venue">CIKM 2021</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>

    <tr>
        <td></td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                <a href="https://arxiv.org/abs/2104.03776">Statistically Significant Detection of Semantic Shifts using Contextual Word Embeddings</a>.
            </span><br />
            <span class="authors">
                Yang Liu, Alan Medlar, Dorota Glowacka.
            </span><br /><span class="venuetype"></span><span class="venue">Eval4NLP</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>

    <tr>
        <td></td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                <a href="https://dl.acm.org/doi/abs/10.1145/3471158.3472234">Can Language Models Identify Wikipedia Articles with Readability and Style Issues?</a>.
            </span><br />
            <span class="authors">
                Yang Liu, Alan Medlar, Dorota Glowacka.
            </span><br /><span class="venuetype"></span><span class="venue">ICTIR 2021</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>

    <tr>
        <td></td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                <a href="https://dl.acm.org/doi/abs/10.1145/3406522.3446020">Query Suggestions as Summarization in Exploratory Search</a>.
            </span><br />
            <span class="authors">
                Alan Medlar, Jing Li, Dorota Glowacka.
            </span><br /><span class="venuetype"></span><span class="venue">CHIIR 2021</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>


    <tr>
        <td>
            <span class="date"><big><strong>2020</strong></big><br /></span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                <a href="https://dl.acm.org/doi/pdf/10.1145/3352683.3352687">Exploratory Search: User Behaviour and Search Engine Adaptation</a>.
            </span><br />
            <span class="authors">
                Alan Medlar, Dorota Glowacka.
            </span><br /><span class="venuetype"></span><span class="venue">ACM SIGWEB Newsletter</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>

    <tr>
        <td>
            <span class="date"><big><strong>2019</strong></big><br /></span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />                
                <a href="http://ceur-ws.org/Vol-2414/paper9.pdf">Can Models of Author Intention Support Quality Assessment of Content?</a>.
            </span><br />
            <span class="authors">
                Arlene Casey, Bonnie Webber, Dorota Glowacka.
            </span><br />            <span class="venuetype"></span><span class="venue">BIRNDL 2019</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>



    <tr>
        <td>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />                
                <a href="https://www.aclweb.org/anthology/W19-4011">A Framework for Annotating ‘Related Works’ to Support Feedback to Novice Writers</a>.
            </span><br />
            <span class="authors">
                Arlene Casey, Bonnie Webber, Dorota Glowacka.
            </span><br />            <span class="venuetype"></span><span class="venue">LAW13</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>



    <tr>
        <td>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />                
                <a href="https://glowacka.org/files/bandit_book.pdf">Bandit Algorithms in Information Retrieval</a>.
            </span><br />
            <span class="authors">
                Dorota Glowacka.
            </span><br />            <span class="venuetype"></span><span class="venue">Foundations and Trends in Information Retrieval, now Publishers</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>



     <tr>
        <td>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />                
                <a href="https://dl.acm.org/citation.cfm?id=3298953">Holes in the Outline: Subject-dependent Abstract Quality and its Implications for Scientific Literature Search</a>.
            </span><br />
            <span class="authors">
                Chien-yu Huang, Arlene Casey, Dorota Glowacka, Alan Medlar.
            </span><br />            <span class="venuetype"></span><span class="venue">CHIIR 2019</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>



    <tr>
        <td>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />                
                <a href="https://dl.acm.org/citation.cfm?id=3298957">How Relevance Feedback is Framed Affects User Experience, but not Behaviour</a>.
            </span><br />
            <span class="authors">
                Dhruv Tripathi, Alan Medlar, Dorota Glowacka.
            </span><br />            <span class="venuetype"></span><span class="venue">CHIIR 2019</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>



    <tr>
        <td>
            <span class="date"><big><strong>2018</strong></big><br /></span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />                
                <a href="https://dl.acm.org/citation.cfm?id=3269297">How Consistent is Relevance Feedback in Exploratory Search?</a>.
            </span><br />
            <span class="authors">
                Alan Medlar and Dorota Glowacka.
            </span><br />            <span class="venuetype"></span><span class="venue">CIKM 2018</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>

    <tr>
        <td>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                <a href="https://dl.acm.org/citation.cfm?id=3231593">Interactive Intent Modeling for Exploratory Search</a>.
            </span><br />
            <span class="authors">
                Tuukka Ruotsalo, Jaakko Peltonen, Manuel JA Eugster, Dorota Głowacka, Patrik Floréen, Petri Myllymäki, Giulio Jacucci and Samuel Kaski.
            </span><br />
            <span class="venuetype"></span><span class="venue">TOIS, 36 (4), Article 44</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>

	<tr>
		<td>
            <span class="date"><big><strong>2017</strong></big><br /></span>
		</td>
		<td class="publication">
            <span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3121050.3121108">Bandit algorithms in interactive information retrieval</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICTIR 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
    </tr>
    <tr>
        <td>
            <!--
            <span class="date"><big><strong>2017</strong></big><br /></span>
            -->
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                <a href="https://doi.org/10.1007/978-3-319-59126-1_45">Dynamic exploratory search in content-based image retrieval</a>.
            </span><br />
            <span class="authors">
                Joel Pyykkö and Dorota Glowacka.
            </span><br />
            <span class="venuetype"></span><span class="venue">SCIA 2017</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <!--
            <span class="date"><big><strong>2017</strong></big><br /></span>
            -->
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                <a href="http://doi.acm.org/10.1145/3025171.3025205">Towards fine-grained adaptation of exploration/exploitation in information retrieval</a>.
            </span><br />
            <span class="authors">
                Alan Medlar, Joel Pyykkö, and Dorota Glowacka.
            </span><br />
            <span class="venuetype"></span><span class="venue">IUI 2017</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
	<tr>
        <td>
            <!--
            <span class="date"><big><strong>2017</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3030024.3040246">Exploratory Search and Interactive Data Analytics</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka, Evangelos E. Milios, Axel J. Soto, and Fernando Vieira Paulovich.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2017</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3038462.3038464">Exploring scientific literature search through topic models</a>.
			</span><br />
			<span class="authors">
				Amin Sorkhei, Kalle Ilves, and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">ESIDA 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
    </tr>
<tr>
        <td>
            <!--<span class="date"><big><strong>2017</strong></big><br /></span>-->
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                <a href="http://doi.acm.org/10.1145/3020165.3022141">Using topic models to assess document relevance in exploratory search user studies</a>.
            </span><br />
            <span class="authors">
                Alan Medlar and Dorota Glowacka.
            </span><br />
            <span class="venuetype"></span><span class="venue">CHIIR 2017</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1002/asi.23617">Is exploratory search different? A comparison of information search behavior for exploratory and lookup tasks</a>.
			</span><br />
			<span class="authors">
				Kumaripaba Athukorala, Dorota Glowacka, Giulio Jacucci, Antti Oulasvirta, and Jilles Vreeken.
			</span><br />
			<span class="venuetype"></span><span class="venue">JASIST 67 (11), 2635-2651</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2016</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://jmlr.org/proceedings/papers/v63/gao30.html">Deep gate recurrent neural network</a>.
			</span><br />
			<span class="authors">
				Yuan Gao and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACML 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2016</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2876456.2879487">Dealing with concept drift in exploratory search: An interactive Bayesian approach</a>.
			</span><br />
			<span class="authors">
				Antti Kangasrääsiö, Yi Chen, Dorota Glowacka, and Samuel Kaski.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2016</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2856767.2856803">Interactive intent modeling from multiple feedback domains</a>.
			</span><br />
			<span class="authors">
				Pedram Daee, Joel Pyykkö, Dorota Glowacka, and Samuel Kaski.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2016</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2856767.2856786">Beyond relevance: Adapting exploration/exploitation in information retrieval</a>.
			</span><br />
			<span class="authors">
				Kumaripaba Athukorala, Alan Medlar, Antti Oulasvirta, Giulio Jacucci, and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2016</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2911451.2911455">PULP: A system for exploratory search of scientific literature</a>.
			</span><br />
			<span class="authors">
				Alan Medlar, Kalle Ilves, Ping Wang, Wray L. Buntine, and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">SIGIR 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2016</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-319-57753-1_7">Interactive content-based image retrieval with deep neural networks</a>.
			</span><br />
			<span class="authors">
				Joel Pyykkö and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">Symbiotic 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2016</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2930238.2930243">Interactive modeling of concept drift and errors in relevance feedback</a>.
			</span><br />
			<span class="authors">
				Antti Kangasrääsiö, Yi Chen, Dorota Glowacka, and Samuel Kaski.
			</span><br />
			<span class="venuetype"></span><span class="venue">UMAP 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
        <td>
            <!--
			<span class="date"><big><strong>2016</strong></big><br /></span>
            -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://arxiv.org/abs/1603.09522">Image retrieval with a Bayesian model of relevance feedback</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka, Yee Whye Teh, and John Shawe-Taylor.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv (preprint)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2806416.2806609">Balancing exploration and exploitation: Empirical parameterization of exploratory search systems</a>.
			</span><br />
			<span class="authors">
				Kumaripaba Athukorala, Alan Medlar, Kalle Ilves, and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">CIKM 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!-- <span class="date"><big><strong>2015</strong></big><br /></span> -->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://jmlr.org/proceedings/papers/v43/ilves15.html">Visualizing user model in exploratory search tasks</a>.
			</span><br />
			<span class="authors">
				Kalle Ilves, Alan Medlar, and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLIS 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2015</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2732158.2732189">OfficeHours: A system for student supervisor matching through reinforcement learning</a>.
			</span><br />
			<span class="authors">
				Yuan Gao, Kalle Ilves, and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2015</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2678025.2701371">Improving controllability and predictability of interactive recommendation interfaces for exploratory search</a>.
			</span><br />
			<span class="authors">
				Antti Kangasrääsiö, Dorota Glowacka, and Samuel Kaski.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2015</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2678025.2701401">IntentStreams: Smart parallel search streams for branching exploratory search</a>.
			</span><br />
			<span class="authors">
				Salvatore Andolina, Khalil Klouche, Jaakko Peltonen, Mohammad E. Hoque, Tuukka Ruotsalo, Diogo Cabral, Arto Klami, Dorota Glowacka, Patrik Floréen, and Giulio Jacucci.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2015</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-1438/paper6.pdf">FutureView: Enhancing exploratory image search</a>.
			</span><br />
			<span class="authors">
				Sayantan Hore, Dorota Glowacka, Ilkka Kosunen, Kumaripaba Athukorala, and Giulio Jacucci.
			</span><br />
			<span class="venuetype"></span><span class="venue">IntRS 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2015</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2766462.2767863">SciNet: Interactive intent modeling for information discovery</a>.
			</span><br />
			<span class="authors">
				Tuukka Ruotsalo, Jaakko Peltonen, Manuel J. A. Eugster, Dorota Glowacka, Aki Reijonen, Giulio Jacucci, Petri Myllymäki, and Samuel Kaski.
			</span><br />
			<span class="venuetype"></span><span class="venue">SIGIR 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date"><big><strong>2014</strong></big><br /></span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2559206.2574807">Intentradar: Search user interface that anticipates user's search intents</a>.
			</span><br />
			<span class="authors">
				Tuukka Ruotsalo, Jaakko Peltonen, Manuel J. A. Eugster, Dorota Glowacka, Aki Reijonen, Giulio Jacucci, Petri Myllymäki, and Samuel Kaski.
			</span><br />
            <span class="venuetype"></span><span class="venue">CHI 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
<tr>
        <td>
            <!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzb2Z0d2FyZTRtbHxneDo3ZmRmYmU5ZTdjMzFjYWI1">A GPU-based interactive system for image retrieval</a>.
            </span><br />
            <span class="authors">
                Lasse Tyrvainen, Joel Pyykkö, and Dorota Glowacka
            </span><br />
            <span class="venuetype"></span><span class="venue">NIPS Workshop on Software Engineering for Machine Learning, 2014</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                <a href="http://research.ics.aalto.fi/publications/bibdb2012/public_pdfs/Kangasraasio2014nips.pdf">Improving controllability and predictability of an interactive user model driven search interface</a>.
            </span><br />
            <span class="authors">
                Antti Kangasrääsiö, Dorota Glowacka, and Samuel Kaski
            </span><br />
            <span class="venuetype"></span><span class="venue">NIPS Workshop on Human Propelled Machine Learning, 2014</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
<tr>
        <td>
            <!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                <a href="http://www.google.com/">Interactive visualization of search intent for exploratory information retrieval</a>.
            </span><br />
            <span class="authors">
                Antti Kangasrääsiö, Dorota Glowacka, Tuukka Ruotsalo, Jaakko Peltonen, Manuel J. A. Eugster, Ksenia Konyushkova, Kumaripaba Athukorala, Ilkka Kosunen, Aki Reijonen, Petri Myllymäki, Giulio Jacucci, and Samuel Kaski
            </span><br />
            <span class="venuetype"></span><span class="venue">ICML Workshop on Crowdsourcing and Human Computing, 2014</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2661829.2661904">Narrow or broad?: Estimating subjective specificity in exploratory search</a>.
			</span><br />
			<span class="authors">
				Kumaripaba Athukorala, Antti Oulasvirta, Dorota Glowacka, Jilles Vreeken, and Giulio Jacucci.
			</span><br />
			<span class="venuetype"></span><span class="venue">CIKM 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
    <tr>
        <td>
            <!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
        </td>
        <td class="publication">
            <span class="pubtitle">
                <img src="img/pdficon_small.png" width="16"
                    height="16" alt="PDF" />
                <a href="https://doi.org/10.1007/978-3-319-25485-2_11">Low-dimensional information discovery and presentation system, apparatus and method</a>.
            </span><br />
            <span class="authors">
                Tuukka Ruotsalo, Jaakko Peltonen, Manuel J. A. Eugster, Petri Myllymäki, Giulio Jacucci, Samuel Kaski, and Dorota Glowacka
            </span><br />
            <span class="venuetype"></span><span class="venue">US Patent Application 14/501,292</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-319-25485-2_11">ImSe: Exploratory time-efficient image retrieval system</a>.
			</span><br />
			<span class="authors">
				Ksenia Konyushkova and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">RuSSIR 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-319-13500-7_10">A reinforcement learning approach to queryless image retrieval</a>.
			</span><br />
			<span class="authors">
				Sayantan Hore, Lasse Tyrvainen, Joel Pyykkö, and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">Symbiotic 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-1181/umap2014_lateresults_01.pdf">Interaction model to predict subjective-specificity of search results</a>.
			</span><br />
			<span class="authors">
				Kumaripaba Athukorala, Antti Oulasvirta, Dorota Glowacka, Jilles Vreeken, and Giulio Jacucci.
			</span><br />
            <span class="venuetype"></span><span class="venue">UMAP 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2014</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-1181/pia2014_paper_04.pdf">Supporting exploratory search through user modeling</a>.
			</span><br />
			<span class="authors">
				Kumaripaba Athukorala, Antti Oulasvirta, Dorota Glowacka, Jilles Vreeken, and Giulio Jacucci.
			</span><br />
            <span class="venuetype"></span><span class="venue">UMAP 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!-- <span class="date"><big><strong>2014</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-1181/umap2014_poster_04.pdf">Balancing exploration-exploitation in image retrieval</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka and Sayantan Hore.
			</span><br />
            <span class="venuetype"></span><span class="venue">UMAP 2014</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date"><big><strong>2013</strong></big><br /></span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1093/bioinformatics/bts704">SwiftLink: Parallel MCMC linkage analysis using multicore CPU and GPU</a>.
			</span><br />
			<span class="authors">
				Alan Medlar, Dorota Glowacka, Horia Stanescu, Kevin Bryson, and Robert Kleta.
			</span><br />
			<span class="venuetype"></span><span class="venue">Bioinformatics 29 (4), 413-419</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2013</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2505515.2505644">Directing exploratory search with interactive intent modeling</a>.
			</span><br />
			<span class="authors">
				Tuukka Ruotsalo, Jaakko Peltonen, Manuel J. A. Eugster, Dorota Glowacka, Ksenia Konyushkova, Kumaripaba Athukorala, Ilkka Kosunen, Aki Reijonen, Petri Myllymäki, Giulio Jacucci, and Samuel Kaski.
			</span><br />
			<span class="venuetype"></span><span class="venue">CIKM 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2013</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.elen.ucl.ac.be/Proceedings/esann/esannpdf/es2013-111.pdf">Content-based image retrieval with hierarchical Gaussian process bandits with self-organizing maps</a>.
			</span><br />
			<span class="authors">
				Ksenia Konyushkova and Dorota Glowacka.
			</span><br />
			<span class="venuetype"></span><span class="venue">ESANN 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2013</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2451176.2451199">SciNet: A system for browsing scientific literature through keyword manipulation</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka, Tuukka Ruotsalo, Ksenia Konyushkova, Kumaripaba Athukorala, Samuel Kaski, and Giulio Jacucci.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<!--<span class="date"><big><strong>2013</strong></big><br /></span>-->
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/2449396.2449413">Directing exploratory search: Reinforcement learning from user interactions with keywords</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka, Tuukka Ruotsalo, Ksenia Konyushkova, Kumaripaba Athukorala, Samuel Kaski, and Giulio Jacucci.
			</span><br />
			<span class="venuetype"></span><span class="venue">IUI 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://discovery.ucl.ac.uk/1369566/">Learning from interaction: Models and applications</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka.
			</span><br />
			<span class="venuetype">Ph.D. thesis, University College London, UK</span><span class="venue"></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date"><big><strong>2011</strong></big><br /></span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://dl.acm.org/citation.cfm?id=2021046">Introduction to the special topic on grammar induction, representation of language and language learning</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka, John Shawe-Taylor, Alexander Clark, Colin Higuera, and Mark Johnson.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Machine Learning Research (JMLR)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date"><big><strong>2010</strong></big><br /></span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.jmlr.org/proceedings/papers/v13/glowacka10a.html">Content-based image retrieval with multinomial relevance feedback</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka and John Shawe-Taylor.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACML 2010</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date"><big><strong>2009</strong></big><br /></span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-642-20169-1_13">Prior knowledge in learning finite parameter spaces</a>.
			</span><br />
			<span class="authors">
				Dorota Glowacka, Louis Dorard, Alan Medlar, and John Shawe-Taylor.
            </span><br />
			<span class="venuetype"></span><span class="venue">Formal Grammar 2009</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
